.order-box {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.order-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
}

.order-box ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.order-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.order-box li span {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.order-box .quantity {
  display: inline-block;
  margin: 0 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fea116;
  padding: 2px 8px;
  border-radius: 8px;
  color: black;
}

.order-box .multiply-symbol {
  font-size: 22px;
  color: #fea116;
  margin: 0 5px;
  display: inline-block;
}

.order-box .total {
  font-weight: bold;
  font-size: 18px;
}

.order-box .total-price {
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
}

.order-box button {
  padding: 10px 15px;
  margin-left: 20px;
  background-color: #fea116;
  filter: brightness(0.8);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled,
button[disabled] {
  background-color: #ccc; /* Gray background */
  color: #6c757d; /* Darker gray text */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.65; /* Slightly transparent */
}
.order-box button:hover {
  filter: brightness(1.2);
}

.order-box p {
  color: #fff;
}

.order-box .points-message {
  margin-top: 20px;
  font-size: 14px;
}

.order-box .quantity {
  background-color: #fea116;
  padding: 3px 10px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
}

.order-box .multiply-symbol {
  font-size: 20px;
  color: #fea116;
  margin: 0 5px;
}
